@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
    .display-flex{
        display: flex;
    
    }
    .text-color1{
        color: black;
    }

    .text-color2{
        color: #8987A1;
    }

    
/* header styles */
    .web-name{color: orangered;
    font-weight: 700px;
font-size: 45px;}


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 48px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner-related-styles */
.banner {
    max-width: 1140px;
    max-height: 461px;
    margin: 0 auto;
    margin-top: 150px;}

.banner-content{
        max-width: 570px; max-height: 299px;
        align-items: baseline;
        text-align: left;
}
.banner-tittle{
    font-weight: 700px;
    font-size: 65px;
}
.banner-description{
    font-weight:200px;
    font-size: 22px;
    color: #8987A1;
}


.FRESH-FLOWERS{
        color: #E95A08;
}


/* plant-container-related-styles */

.container{display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.Our-Plants{
            max-width: 1140px;
            align-items: center;
            text-align: center;   
            margin: 150px auto;
        }
.flower{
    max-width: 270px;
    max-height: 480px;
}

.plants-title{
    font-size: 50px;
    font-weight: bold;
}
.our{
    color: #E95A08;
}
.plants-description{
    font-weight: 200;
    font-size: 22px;
    max-height: 54px;
    color: #8987A1;  
}

.button-add{
background-color: #E95A08;
color: white;
font-weight: 500px;
font-size: 15px;
padding: 10px 80px;
border: none;
}

.taka{
    font-weight: bolder;
    font-size: 16px;
}
            
/* flowers-lovers-related-styles */
.section-title{
    font-weight: bold;
    font-size: 50px;
}

.section-title-description .flowers-lovers-description{
font-weight: 250px;
font-size: 22px;
color: #8987A1;
max-width: 540px;
max-height: 521px;
gap: 20px;

}

.flowers-lovers{
    max-width: 1140px;
    max-height: 597px;
    margin: 0 auto;
    margin-top: 150px;
    justify-content: space-between;
    align-items: center;
    gap: 60px;    
}

.flowers-pic{
    max-width: 540px;
    max-height: 571px;
}

.wrap-logo{
    margin-top: -700px;
    margin-left: 545px;

}

/* deal related style */

.deal-details{
}
.deal-name{max-width: 1440px;
    max-height: 138px;
    margin: 0 auto;
    margin-top: 600px;
    text-align: center;
    margin-bottom: 150px;
}

.deal-title{
    font-weight: bold;
    font-size: 50px;
}

.latest{
    color: #E95A08;
}

.deal-description{
    font-weight: 200px;
    font-size: 22px;
    width: 888px;
    max-height: 54px;
    text-align: center;
    align-items: center;
    margin-left: 280px;
    color: #8987A1;
}

.deal-offer{
    max-width: 1140px;
    margin: 0px 180px ;
    position: absolute;
    justify-content: space-between;
    gap: 28px;
    height: 122% ;
}

.bloom-ana-plant{
    height: calc((100% - 5px)/2) ;
    gap: 10px 20px 30px 40px;
    display: grid;
    
}

.zabo-plant{
    height: 100%;
    border-radius: 20px;
}
.blomm-plant-text{
position: absolute;
    top: 10px;
    color: rgb(248, 247, 247);
    padding: 50px;
}
.blomm-plant-text h3{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    
}

.ana-plant-text{
    position: absolute;
    top: 220px;
    color: rgb(248, 247, 247);
    padding: 50px;
   
}
.ana-plant-text h3{
    
    font-weight: bold;
    font-size: 20px;
    
}

.zabo-plant-text{
    position: absolute;
    top: 0px;
    color: rgb(248, 247, 247);
    padding: 140px;
    

}

.zabo-plant-text h1{
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.bloom-plant{
    
    
}

.shop-now{ font-weight: 500;
    font-size: 28px;
    border: none;
    padding: 2px 2px;
    
    background-color: none;
    background: none;
    color: white;

}

/* colorful bunch related style */
.container-one{
max-width: 1440px;
max-height: 533px;
margin: 680px 20px ;
padding: 0px;
}

.banner-one{
    position: relative;
    width: 100%; margin: 0 auto;
}
.banner-one img{ width: 100%;}

.colorful-bunch{
    color: white; position: absolute; top: 35%; font-size: 50px; font-weight: bold;
    justify-content: center; align-items: center;
    width: 100%;  display: flex;
}

.subscribe-icon{
    color: white; position: absolute; top: 48%; font-size: 50px; font-weight: bold;
    justify-content: center; align-items: center;
    width: 100%;  display: flex; 
}

.email-box{
    height: 20px;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.email-button{
    height: 40px;
    border-radius: 5px;
    background-color: #E95A08;
    width: 10%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    color: white;
}