@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
    .display-flex{
        display: flex;
    
    }
    .text-color1{
        color: black;
    }

    .text-color2{
        color: #8987A1;
    }

    
/* header styles */
    .web-name{color: orangered;
    font-weight: 700px;
font-size: 45px;}


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 48px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner-related-styles */
.banner {
    max-width: 1140px;
    max-height: 461px;
    margin: 0 auto;
    margin-top: 150px;}

.banner-content{
        max-width: 570px; max-height: 299px;
        align-items: baseline;
        text-align: left;
}
.banner-tittle{
    font-weight: 700px;
    font-size: 65px;
}
.banner-description{
    font-weight:200px;
    font-size: 22px;
    color: #8987A1;
}


.FRESH-FLOWERS{
        color: #E95A08;
}


/* plant-container-related-styles */

.container{display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.Our-Plants{
            max-width: 1140px;
            align-items: center;
            text-align: center;
           
            margin: 150px auto;
        }
.flower{
    max-width: 270px;
    max-height: 480px;
}

.plants-title{
    font-size: 50px;
    font-weight: bold;
}
.our{
    color: #E95A08;
}
.plants-description{
    font-weight: 200;
    font-size: 22px;
    max-height: 54px;
    color: #8987A1;  
}

.button-add{
background-color: #E95A08;
color: white;
font-weight: 500px;
font-size: 15px;
padding: 10px 80px;
border: none;
}

.taka{
    font-weight: bolder;
    font-size: 16px;
}
            

